*{
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    position: fixed;
    z-index: 1;
    top: 0%;
}
nav .logo{
    width: 10%;
    height: 100%;
    margin-left: 24px;
    margin-top: 25px;
    
}
nav .logo img{
    height: 62%;
    width: 83%;
    border-radius: 25%;
    border: 1px solid white;
}
nav ul{
    list-style: none;
    display: flex;
     gap: 40px;
    margin-right: 38px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:bold;
font-style: italic;
}
footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: gray;
}

footer .footer_main{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

footer .footer_main .footer_tag{
    text-align: center;
}
footer .footer_main .footer_tag a img{
    text-align: center;
    height: 26px;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: blue;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #270a9d;
    margin-left: 10px;
}
 /*-----------this is default css------------*/
 *section div h1{
margin-top: 50px;
margin-left: 10%;
 }
 .default{
    width: 100%;
    height: 100vh;
    background-color: chocolate;
    display: flex;
}
.default .dleft,.dright{
    width: 50%;
    height: 100%;
    
}
.dleft{
    background: url(img3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dright h1{
    color: white;
    margin: 0;
    margin-left: 0;
    margin-top: 0px;
    background-color: crimson;
    text-align: center;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
}
.dright h3{
    color: white;
    margin: 0;
    margin-left: 0;
    margin-top: 15px;
    background-color:black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-style: italic ;
    font-weight: bold;
}
.dright li {
    color: black;
    margin: 0;
    margin-left: 30px;
    margin-top: 20px;
    
    text-align: left;
    padding: 12px;
    font-size: 20px;
}
.dright li h2{
    color: black;
    margin: 0;
    margin-left: 0;
    margin-top: 10px;
    background-color: darkorchid;
    text-align: left;
    padding: 2px;
    font-size: 24px;

}
section .slider{
    height: 70vh;
    width: 500%;
    background-color: transparent;
    display: flex;
    animation-name: slider;
    animation-duration: 15s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    position: relative;
}
section .slider img{
    height: 95%;
    width: 20%;
    position: relative;
    top: 18%;
}
 @keyframes slider {
    0%{
        left: 0%;
    }
    10%{
        left: -100%;
    }
    20%{
        left: -200%;
    }
    30%{
        left: -300%;
    }
    40%{
        left: -400%;
    }
    50%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -200%;
    }
    80%{
        left: -100%;
    }
    90%{
        left: 0%;
    }
    100%{
        left: 0%;
    }
 
} */

.radio{
    position: absolute;
    height: 3vh;
    width: 100%;
    top: 75%;
    left: 50%;
    z-index: 1;
}

.destination{
    width: 100%;
    padding: 7%;
}

.destination h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.destination h1 span{
    color: lightskyblue;
    margin-left: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.destination h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: darkblue;
    display: block;
    position: relative;
    bottom: 7px;
}

.destination .dest_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 97px;
}

.destination .dest_box .tour_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.destination .dest_box .tour_card .tour_image{
    width: 94%;
    height: 49%;
    margin: 0 auto;
}

.destination .dest_box .tour_card .tour_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.destination .dest_box .tour_card .tour_image:hover img{
    transform: scale(1.1);
}
.destination .dest_box .tour_card .tour_info h2{
    width: 89%;
    text-align: center;
    margin: 12px;
    font-size: 25px;
    color:lightskyblue;
}

.destination .dest_box .tour_card .tour_info p{
    text-align: center;
    margin-top: 17px;
    font-weight: 600;
}

.destination .dest_box .tour_card .tour_info h3{
    text-align: center;
    margin-top: 10px;
}
.destination .dest_box .tour_card .tour_info ins{
    margin-left: 42%;
    font-weight: bolder;
    font-size: larger;
}

.destination .dest_box .tour_card .tour_info .star_icon{
    color: #fac031;
    text-align: center;
    margin: 2%;
}

.destination .dest_box .tour_card .tour_info .book_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: darkblue;
    padding: 8px 10px;
    margin: 0 90px;
    position: relative;
    top:-7px;
}


.gallary{
    width: 100%;
    padding: 7%;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: lightskyblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 3px;
    background: darkblue;
    display: block;
    position: relative;
    /* bottom: 15px; */
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: lightskyblue;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 15%;
    margin-top: 30px;
    text-align: center;
    color: white;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 25%;
    color: grey;
    background: darkblue;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}



.review{
    width: 100%;
    height: 100vh;
    padding: 7%;
}

.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span{
    margin-left: 15px;
    color: lightskyblue;
    font-family: 'Times New Roman', Times, serif;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: darkblue;
    position: relative;
    display: block;
}

.review .review_box{
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.review .review_box .review_card{
    width: 350px;
    height: 419px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}



.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    color: #000;
    transition: 0.3s;
}
.review .review_box .review_card .review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
}
.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
}

.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
}
/* services css start  */
 .contact div h1{
    margin-top: 50px;
    margin-left: 10%;
     }
     .default{
        width: 100%;
        height: 100vh;
        background-color: chocolate;
        display: flex;
    }
    .default .dleft,.dright{
        width: 50%;
        height: 100%;
        
    }
    .dleft{
        background: url(img3.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dright{
        height: 100vh;
        width: 50%;
    }
    .dright h1{
        color: white;
        margin: 0;
        margin-left: 0;
        margin-top: 0px;
        background-color: crimson;
        text-align: center;
        padding: 15px;
        font-size: 32px;
        font-weight: bold;
    }
    .dright h3{ 
        color: white;
        margin: 0;
        margin-left: 0;
        margin-top: 15px;
        background-color:black;
        text-align: center;
        padding: 15px;
        font-size: 20px;
        font-style: italic ;
        font-weight: bold;
    } 
    .dright li {
        color: black;
        margin: 0;
        margin-left: 30px;
        margin-top: 20px;
        background-color: antiquewhite;
        text-align: left;
        padding: 12px;
        font-size: 20px;
    }
    .dright li h2{
        color: black;
        margin: 0;
        margin-left: 0;
        margin-top: 10px;
        background-color: darkorchid;
        text-align: left;
        padding: 10px;
        font-size: 24px;
    
    }
   /* appointment start */
   .footer_main-containt{
    display: flex;
   }
.contact{
    height: 80vh;
    background-color: transparent;
    padding: 50px;
    text-align: center;

}
.contact .contact-container{
    width: 100%;
    margin: 0 auto;

    
}
.contact .contact-container h1{
    font-size: 55px;
    margin-bottom: 40px;
    color: lightskyblue;

}
.contact .contact-container .contact-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 50%;
    position: relative;
    left: 10%;
}
.contact .contact-container .contact-inner .contact-form{
  text-align: center;
}
.contact .contact-container .contact-inner .contact-form h3{
    font-size: 33px;
    margin-bottom: 20px;
    color: #270a9d;

}
.contact-inner .contact-form .form-group{
    margin-bottom: 20px;
}
.contact-inner .contact-form .form-group input,textarea{
    width: 100%;
    padding: 12px;
    background-color: bisque;
}
.contact-inner .contact-form .form-group input,textarea:focus{
    outline: none;
    box-shadow: 0 0 8px grey;
}
.contact-inner .contact-form button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #270a9d;
    color: beige;
    border: none;
    cursor: pointer;
    transition: 0.3 ease;
}
.contact-inner .contact-form button:hover{
    background-color: lightskyblue;
}
.contact-inner .contact-info{
    text-align: left;
}
.contact-inner .contact-info h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #270a9d;
   margin-left: -45px;  
}
.contact-inner .contact-info p{
    margin-bottom: 10px;
    color: lightskyblue;

}
.contact-inner .contact-info i{
    color: red;
    margin-right: 10px;
}
/* sign up */
.sign{
    width: 30%;
    height: 80vh;
    background-color: lightgray;
    margin: auto;
    position: relative;
    margin-top: 6%;
    border-radius: 5px;
}
.sign h1{
    text-align: center;
    margin-top: 8%;
}

.sign form{
    width: 25%;
    margin-left: 20px;
}
.sign form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.sign form input{
    width: 350%;
    padding: 7px;
    border: none;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
   
}
input[type="button"]{
    margin-top: 10px;
    border: none;
    background-color: #270a9d;
    color: #cccccc;
    font-size: 18px;
}
.sign p{
    text-align: center;
    font-size: 10px;
} 
p{
    text-align: center; 
    font-size: 20px;
}
p a{
    text-decoration: none;
    color: #270a9d;
}
.login{
    width: 45%;
    height: 40%;
    background-color: grey;
    margin: auto;
    position: relative;
    margin-top: 18%;
    border-radius: 5px;
}
.login h1{
    text-align: center;
    margin-top: 8%;
}
.login form{
    width: 25%;
    margin-left: 20px;
}
.login form label{
    display: flex;
    margin-top: 15px;
    font-size: 15px;
}
.login form input{
    width: 350%;
    padding: 3px;
    border: none;
    border: 2px solid black;
    border-radius: 5px;
    outline: none; 
}
input[type="button"]{
    margin-top: 10px;
    border: none;
    background-color: #270a9d;
    color: #cccccc;
    font-size: 18px;
}
.login p{
    text-align: center;
    font-size: 12px;
} 
/* Registration */

.background{

    background: url("Background\ img.jpeg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.background .booking-form{
    background-color:rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 42%;
    margin: 0 auto;
    /* position: relative;
    top: 120px; */

}
.background .booking-form h2{
    text-align: center; 
}
.background .booking-form form{
    display: flex;
    flex-direction: column;
}
.background .booking-form input{
    padding: 8px;
    border: 1px solid lightblue;
    border-radius: 5px;

}
.background .booking-form button{
    margin-top: 10px;
    padding: 10px;
    background-color: #270a9d;
    color: #cccccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.background .booking-form button:hover{
    background-color: #6f5cba;
}
